// Font
$baseFont: 'Montserrat', sans-serif;

// Color
$primaryColor: #F54EA2;

$lightBG: #F6F6F6;
$darkBG: #ffffff;

$lightText: #222222;
$darkText: #666666;

$border: #dddddd;

$placeholder: #666666;

// Icon
$dribbble: #E34684;
$behance: #0053F7;
$pinterest: #E62C32;
$linkedin: #0270AD;

// Overlay
$hoverOverlay: rgba(255, 255, 255, .7);
