// Font
$baseFont: 'Montserrat', sans-serif;

// Color
$primaryColor: #ff5d56;

$lightBG: #222222;
$darkBG: #151515;

$lightText: #ffffff;
$darkText: #aaaaaa;

$border: #333333;

$placeholder: #dddddd;

// Icon
$dribbble: #E34684;
$behance: #0053F7;
$pinterest: #E62C32;
$linkedin: #0270AD;

// Overlay
$hoverOverlay: rgba(0, 0, 0, .7);
